{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="container"  style="margin-bottom: 20px; height: 380px">

        <img class="gradient-border" style="margin-bottom: 20px" src="{{ thumbnail }}" alt="Thumbnail" width="500">
        <ul style="float: right; list-style-type: none">
            <li>
                <p class="gradient-border"><span class="bg-danger custom-label">File Size :</span> {{ size }}</p>
                <p class="gradient-border"><span class="bg-danger custom-label">Video Length :</span> {{ length }}</p>
                <p class="gradient-border" style="float: right; width: 300px; margin-top: 200px; text-align: center;"><span class="bg-success custom-label" style="">Download</span></p>
            </li>
            <li>
            </li>
        </ul>
    </div>

    <div class="container">
        <p class="gradient-border"><span class="bg-danger custom-label">Video Title :</span> {{ title }}</p>
    </div>

{% endblock %}
