{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="container">
        <img class="gradient-border" style="margin-bottom: 20px" src="{{ thumbnail }}" alt="Thumbnail" width="500">
        <ul style="float: right">
            <li style="list-style-type: none">
                <p class="gradient-border"><span class="bg-danger custom-label">File Size:</span> {{ size }}</p>
                <p class="gradient-border"><span class="bg-danger custom-label">Video Length:</span> {{ length }}</p>
            </li>
        </ul>
        <p class="gradient-border"><span class="bg-danger custom-label">Video Title:</span> {{ title }}</p>

    </div>

{% endblock %}
